---
import { getAll } from "../../lib/api";
import { currencyFormat, digitalMinutesDurationFormat } from "../../lib/format";

const bundles = await getAll("bundles", {
  populate: "*",
  });
---

<section>
  <h2>Пакеты</h2>

  <div class="container">
    {
      await Array.fromAsync(bundles, (bundle: any) => (
        <div class="frame">
          <h3>{bundle.name}</h3>
          <div>
            <p>
              <b>
                {digitalMinutesDurationFormat.format({
                  hours: Math.floor(bundle.totalDurationMinutes / 60),
                  minutes: bundle.totalDurationMinutes % 60,
                })}
              </b>{" "}
              общего времени
            </p>
            <p>
              до <b>{bundle.maxPeople}</b> человек
            </p>
            <ul>
              {bundle.services.map((service: any) => (
                <li>{service.description}</li>
              ))}
            </ul>
          </div>

          <table>
            <thead>
              <tr>
                <td>Будни</td>
                <td>Выходные</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{currencyFormat.format(bundle.weekdayPrice)}</td>
                <td>{currencyFormat.format(bundle.weekendPrice)}</td>
              </tr>
            </tbody>
          </table>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 32px;

    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .frame {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 24px;
  }

  p {
    margin: 4px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    margin: 16px 0;
    margin-bottom: 24px;

    li {
      margin: 8px 0;
    }
  }

  table {
    margin-top: auto;
  }
</style>
