---
import Phone from "../Phone.astro";
import { fetchApi } from "../../lib/api";
import Socials from "../Socials.astro";

let data;
try {
  data = (await fetchApi("contact-info", {})).data;
} catch {
  data = {};
}

const { address = "", schedule = "" } = data;

const { title, creationYear } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer>
  <address>
    <div>
      <span style="float: right;">{schedule}</span>
      <span style="white-space: pre;">{address}</span>
    </div>
    <div>
      <Phone />
      <span style="float: right;"><Socials height="16" /></span>
    </div>
  </address>

  <hr />

  <span>
    &copy; {title}, {
      creationYear == currentYear ? (
        currentYear
      ) : (
        <>
          {creationYear}&ndash;{currentYear}
        </>
      )
    }
  </span>
  <a href="/policy.txt" style="float: right;">Политика конфиденциальности</a>
</footer>

<style lang="scss">
  footer {
    box-sizing: border-box;
    margin-top: 96px;
    padding: 64px;

    color: #ccc;
    font-size: 14px;
  }

  address {
    font-style: normal;

    div {
      margin-bottom: 24px;
    }
  }

  hr {
    margin: 32px -48px;
  }
</style>
