---
import Phone from "../Phone.astro";
import { fetchApi } from "../../lib/api";
import Socials from "../Socials.astro";

let data;
try {
  data = (await fetchApi("contact-info", {})).data;
} catch {
  data = {};
}

const { address = "", schedule = "" } = data;

const { title, creationYear } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer>
  <address>
    <div>
      <span style="white-space: pre;">{address}</span>
      <span class="right">{schedule}</span>
    </div>
    <div>
      <Phone />
      <Socials class="socials" />
    </div>
  </address>

  <hr />

  <span>
    Сайт разработан студентами Колледжа Цифровых Технологий (<a
      href="https://t.me/GulgDev">Еремей Шутюк</a
    >)
  </span>
  <br />
  <a href="/policy.txt" class="right">Политика конфиденциальности</a>
  <span>
    &copy; {title}, {
      creationYear == currentYear ? (
        currentYear
      ) : (
        <>
          {creationYear}&ndash;{currentYear}
        </>
      )
    }
  </span>
</footer>

<style lang="scss">
  @use "../../styles/responsive";

  footer {
    box-sizing: border-box;
    margin-top: 96px;
    padding: 64px;

    color: #ccc;
    font-size: 14px;
  }

  address {
    font-style: normal;

    div {
      margin-bottom: 24px;
    }
  }

  .socials {
    height: 16px;
    gap: 12px;

    float: right;
  }

  hr {
    margin: 32px -48px;
  }

  .right {
    @include responsive.xs() {
      display: block;
      margin-block: 4px;
    }

    @include responsive.s() {
      float: right;
    }
  }
</style>
